/* Estilo para el botón */
.btnIngresar {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 5%; /* Espaciado superior */
}

.btnIngresar .btn-primary {
    font-size: 1.1rem; /* Tamaño de la fuente */
    padding: 0.4rem 1.5rem; /* Ajusta el relleno */
    width: auto; /* El ancho se adapta al contenido */
    display: flex; /* Flexbox para centrar el texto */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center; /* Asegura alineación de texto */
    margin: auto; /* Centra el botón */
}

/* Imagen en dispositivos pequeños */
.img-fluid {
    max-width: 80%; /* Reduce el tamaño en computadoras */
    height: auto; /* Mantén la proporción */
    margin-bottom: 7%;  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-bottom: 8%;
    text-align: center;
}

.form-label {
    font-size: 130%;
}

.form-control {
    width: 100%; /* Ancho personalizado */
    height: 100%; /* Altura personalizada */
    font-size: 1.08rem; /* Tamaño de letra */
}

.titulo {
    font-family: "Rowdies", serif;
    font-weight: 900;
    font-style: normal;
    color: rgb(37, 132, 255);
    font-size: 2.7rem; /* Cambia el tamaño aquí */
    text-align: center; /* Centra el texto */
    margin-bottom: 2%;
    display: block; /* Asegura que sea un bloque visible */
    visibility: visible; /* Garantiza que se vea siempre */
}


.col-12 {
    margin-bottom: 6%;
}

/* Adaptaciones específicas para móviles */
@media (max-width: 576px) {
    .form-label {
        font-size: 1rem;
    }

    .btn-primary {
        font-size: 0.9rem;
    }

    .letras {
        max-width: 70%;
    }

    .img-fluid {
        max-width: 80%; /* Reduce aún más el tamaño en móviles */
        margin-bottom: 25%;
    }

    .titulo {
        font-size: 2rem; /* Reduce el tamaño del título */
    }
}
