/* General */
.form-label {
    font-size: 1.2rem;
}

/* Estilo para el botón */
.btn-primary {
    font-size: 1rem;
    margin-top: 10px;
}

/* Imagen en dispositivos pequeños */
img {
    max-width: 100%;
    height: auto;
}

/* Clase personalizada para el logo */
.letras {
    max-width: 50%;
}

/* Adaptaciones específicas para móviles */
@media (max-width: 576px) {
    .form-label {
        font-size: 1rem;
    }

    .btn-primary {
        font-size: 0.9rem;
    }

    .letras {
        max-width: 70%;
    }
}
